
h1{
    font-size:30px;
    
}
h2{
    font-size:20px;
}
.big{font-size:60px}
.uppercase{text-transform: uppercase;}
.big.uppercase{color:lightgray}
body{background-color: black; font-family: Arial, Helvetica, sans-serif; color:whitesmoke}
a{color:azure}